@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Vazir;
    src: url("./assets/fonts/Vazir.ttf");
}

* {
    font-family: Vazir;
    transition: all linear 100ms !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #013328;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #026B56;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #001F18;
}
